.carousel-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.slide {
  animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slide img {
  height: 250px;
  margin: 25px;
}
